.bodyAboutMe{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.about{
    width: 100%;
    padding: 78px 0px;
    background-color: #191919;
    height: 100%;
}

.about img{
    height: auto;
    width: 420px;
}

.about-text{
    width: 550px;
}

.about-main{
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

span{
    color: #f9004d;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.buttonAboutMe{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}

.shtick{
    color: white;
}

.buttonAboutMe:hover{
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

@media all and (max-width: 1053px){
    .about img{
        transform: scale(0.7);
    }
}

@media all and (max-width: 805px){
    .about{
        height: auto; 
        overflow-y:scroll;
        
        min-width: 0;
        padding: 0 !important;
    }

    .about-main{
        justify-content: center !important;
        max-width: 95%;
    }


    .bodyAboutMe{
        min-height: 100vh;
        min-width: 0;
        height: 100vh;
    }

    .buttonAboutMe{
        width: 50%;
        margin: auto;
    }
    
    .about img{
        transform: scale(0.6);
        flex-basis: 100%; 
    }

    .img1{
        height: 450px;
    }

    .img1 img{
        width: 400px;
    }

    .about-text{
        display: flex;
        width: 100%;
        
    }

    

    .about-text p{
        width: 100%;
        
    }

    section{
        display: flex !important;
    }

    .about-text{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .about-text h1{
        font-size: 40px;
        
        align-self: center;
    }
    .about-main{
        justify-content: center !important;
        flex-direction: column;
    }

}