.accordionTitle{
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    font-size: 3em;
}

.first{
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    color: yellow;
    display: flex;
    max-width: 600px;
    font-size: 1.5em;
}

.brighten{

}

.brighten:hover{
    filter: brightness(120%) saturate(120%);
}


.faqButton{
    display: block;
    margin: 0 auto;
    width: 200px;
    
}